*{
    background-color: black;
}

table {
    width: 75%;
    padding: 50px;
    margin-left: 250px;
}

.kolom-text {
    text-align: left;
    padding: 10px;
}

.kolom-gambar {
    text-align: center;
    padding: 20px;
}

.main-header{
    font-size: larger;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    color: white;
}

.main-menu-style {
    color: orangered;
}

.sub-menu {
    color: white;
}
