* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 100px; /* Adds space at the top to account for the header height */
}

.container {
    width: 1024px;
    margin-left: 300px;
    margin-top: 30px;
}

.header {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: 100px; /* Height of the header */
    width: 1024px;
    background: gray;
}

.header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header a:hover {
    background: #ddd;
    color: black;
}

#atas {
    height: 750px;
    background: blue;
}

#bawah {
    height: 750px;
    background: peachpuff;
}

#footer {
    height: 550px;
    background: palegreen;
}
